.button {
  border: 0;
  color: #231d2c;
  font-size: 18px;
  background: #f1f3f5;
  height: 34px;
  width: 32px;
  border-radius: 8px;
  cursor: pointer;
}

.button svg {
  fill: #231d2c;
  padding-top: 5px;
}

.button:hover,
.button:focus {
  outline: 0;
  color: #6a9cc9;
}

.button:hover svg,
.button:focus svg {
  fill: #6a9cc9;
}

.active {
  color: #6a9cc9;
}

.active svg {
  fill: #6a9cc9;
}
