@font-face {
  font-family: "GothamNarrow-Light";
  src: url("app/assets/fonts/subset-GothamNarrow-Light.eot");
  /*src: local('Gotham Narrow Light'), local('GothamNarrow-Light'),*/
  src: url("app/assets/fonts/subset-GothamNarrow-Light.eot?#iefix")
      format("embedded-opentype"),
    url("app/assets/fonts/subset-GothamNarrow-Light.woff2") format("woff2"),
    url("app/assets/fonts/subset-GothamNarrow-Light.woff") format("woff"),
    url("app/assets/fonts/subset-GothamNarrow-Light.ttf") format("truetype");
  /*url('app/assets/fonts/subset-GothamNarrow-Light.svg#GothamNarrow-Light') format('svg');*/
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GothamNarrow-Medium";
  src: url("app/assets/fonts/subset-GothamNarrow-Medium.eot");
  /*src: local('Gotham Narrow Medium'), local('GothamNarrow-Medium'),*/
  src: url("app/assets/fonts/subset-GothamNarrow-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("app/assets/fonts/subset-GothamNarrow-Medium.woff2") format("woff2"),
    url("app/assets/fonts/subset-GothamNarrow-Medium.woff") format("woff"),
    url("app/assets/fonts/subset-GothamNarrow-Medium.ttf") format("truetype");
  /*url('app/assets/fonts/subset-GothamNarrow-Medium.svg#GothamNarrow-Medium') format('svg');*/
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GothamNarrow-Thin";
  src: url("app/assets/fonts/subset-GothamNarrow-Thin.eot");
  /*src: local('Gotham Narrow Thin'), local('GothamNarrow-Thin'),*/
  src: url("app/assets/fonts/subset-GothamNarrow-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("app/assets/fonts/subset-GothamNarrow-Thin.woff2") format("woff2"),
    url("app/assets/fonts/subset-GothamNarrow-Thin.woff") format("woff"),
    url("app/assets/fonts/subset-GothamNarrow-Thin.ttf") format("truetype");
  /*url('app/assets/fonts/subset-GothamNarrow-Thin.svg#GothamNarrow-Thin') format('svg');*/
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "GothamNarrow-Book";
  src: url("app/assets/fonts/subset-GothamNarrow-Book.eot");
  /*src: local('Gotham Narrow Book'), local('GothamNarrow-Book'),*/
  src: url("app/assets/fonts/subset-GothamNarrow-Book.eot?#iefix")
      format("embedded-opentype"),
    url("app/assets/fonts/subset-GothamNarrow-Book.woff2") format("woff2"),
    url("app/assets/fonts/subset-GothamNarrow-Book.woff") format("woff"),
    url("app/assets/fonts/subset-GothamNarrow-Book.ttf") format("truetype");
  /*url('app/assets/fonts/subset-GothamNarrow-Book.svg#GothamNarrow-Book') format('svg');*/
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GothamNarrow-Bold";
  src: url("app/assets/fonts/subset-GothamNarrow-Bold.eot");
  /*src: local('Gotham Narrow Bold'), local('GothamNarrow-Bold'),*/
  src: url("app/assets/fonts/subset-GothamNarrow-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("app/assets/fonts/subset-GothamNarrow-Bold.woff2") format("woff2"),
    url("app/assets/fonts/subset-GothamNarrow-Bold.woff") format("woff"),
    url("app/assets/fonts/subset-GothamNarrow-Bold.ttf") format("truetype");
  /*url('app/assets/fonts/subset-GothamNarrow-Bold.svg#GothamNarrow-Bold') format('svg');*/
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "GothamNarrow-Book", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f7;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  transition: background 0.2s ease-in-out;
}

body::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
  background: #f5f5f7;
}
body::-webkit-scrollbar-track {
  background: #495057;
}
body::webkit-scrollbar-thumb {
  background: #495057;
}

#root {
  /* height: 100vh; */
  width: 100vw;
  position: relative;
}

* {
  outline: none;
  font-family: "GothamNarrow-Book", "Helvetica Neue", sans-serif;
}

.MuiTooltip-popperInteractive > div {
  padding: 0;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(152, 161, 170, 0.6);
}

#ruler {
  z-index: 0;
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
}

.MuiListItem-button.Mui-selected {
  color: #fff;
}

.MuiPaginationItem-page.Mui-selected {
  color: #fff;
}

b {
  font-family: "GothamNarrow-Bold", "Helvetica Neue", sans-serif;
}

a:hover {
  color: none;
}

button {
  appearance: none;
  -webkit-appearance: button-bevel;
}

input[type="text"] {
  margin: 0;
  padding: 1px 2px;
  appearance: none;
  -webkit-appearance: none;
}

.data-themes-table-header-cell {
  color: #262C34;
  font-weight: 400;
  border-width: 1px;
  background: #DFE3E6;
  border-color: #98A1AA;
  border-style: solid solid solid none;
}

.data-themes-table-header-cell:first-of-type {
  border-style: solid;
}

.data-themes-table-id-cell {
  color: #868E96;
  border-width: 1px;
  text-align: center;
  background: #DFE3E6;
  border-color: #98A1AA;
  border-style: none solid solid solid;
}

.data-themes-table-cell {
  color: #262C34;
  background: #F1F3F5;
}

.chart-options .chart-option {
  margin: 8px -12px;
  height: 25px;
}
.chart-options .chart-option.color-swatch {
  height: 48px;
  margin: 0px -15px;
  position: relative;
}
.chart-options .chart-option.color-swatch:first-child .color-scale-item {
  border-radius: 5px 5px 0 0;
}
.chart-options .chart-option.color-swatch:last-child .color-scale-item {
  border-radius: 0px 0px 5px 5px;
  border: none;
}
.chart-options .chart-option.color-swatch.ordinal .color-scale-item > * {
  padding: 0;
  border: none;
  font-size: 14px;
  background: none;
}
.chart-options .chart-option.color-swatch.ordinal .color-scale-item > *:first-child {
  width: calc(100% - 100px);
}
.chart-options .chart-option.color-swatch.ordinal .color-scale-item > *:nth-child(2) {
  width: 100px;
}
.chart-options .chart-option.color-swatch.not-ordinal {
  margin-bottom: 8px;
}
.chart-options .chart-option.color-swatch.not-ordinal .color-scale-item {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.chart-options .chart-option.color-swatch.not-ordinal .color-scale-item > * {
  width: 30%;
}
.chart-options .chart-option.color-swatch .color-scale-item {
  background-color: white;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid #DFE3E6;
  height: 100%;
  padding: 0 23px;
}
.chart-options .color-swatches-list {
  margin: 8px 0;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(152, 161, 170, 0.1);
}
.options-group {
  transition: max-height 1s ease;
  height: auto;
  overflow: visible;
  border-top: 1px solid var(--gray-400);
}
.options-group .group-header {
  height: 25px;
}
.options-group .group-header:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--gray-bg);
  position: absolute;
  left: -15px;
  z-index: -10;
  opacity: 0.8;
  backdrop-filter: blur(1px);
  transition: opacity 0.5s ease;
}
.options-group.collapsed {
  height: 40px !important;
  overflow: hidden;
}
.options-group.collapsed .collapse-button:before {
  transform: rotate(0deg);
}
.options-group.collapsed .collapse-button:after {
  transform: rotate(-90deg);
}
.options-group.collapsed .group-header:before {
  opacity: 1;
}
.collapse-button {
  background-color: var(--gray-400);
  width: 24px;
  height: 24px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  border-radius: 50%;
}
.collapse-button:before, .collapse-button:after {
  display: block;
  grid-column: 0.5;
  grid-row: 0.5;
  width: 8px;
  height: 2px;
  border-radius: 1px;
  content: ' ';
  background-color: black;
  transform: rotate(180deg);
}
.color-scheme-dropdown-item {
  margin: 0;
  height: 48px !important;
  border-bottom: none !important;
}
.color-scheme-dropdown-item .scheme-preview {
  width: 100%;
}
.raw-select {
  width: 100%;
  height: 25px;
  border: none;
  appearance: none;
  border-radius: 5px;
  padding: 0 1.75rem 0 .75rem;
  box-shadow: 0px 0px 10px rgba(152, 161, 170, 0.1);
  background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center/8px 10px;
}
.text-field {
  height: 25px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(152, 161, 170, 0.1);
}
.text-field::placeholder {
  color: #cecece;
}
.raw-btn {
  height: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(152, 161, 170, 0.1);
}
.btn {
  padding: 0 .75rem;
}
.btn-white {
  color: #000;
  border: none;
  background-color: white;
}
.raw-dropdown {
  height: 25px;
}
.raw-dropdown .dropdown-toggle {
  text-align: left;
  height: 100%;
}
.raw-dropdown .dropdown-toggle::after {
  right: 8px;
  bottom: calc(50% - 1px);
  position: absolute;
}
.raw-dropdown .dropdown-menu {
  max-height: 40vh;
  overflow-y: auto;
  padding: 0;
  border: none;
  z-index: 1030;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}
.raw-dropdown .dropdown-menu .dropdown-header {
  padding: 0 8px;
  height: 24px;
  display: flex;
  align-items: center;
}
.raw-dropdown .dropdown-menu .dropdown-item {
  height: 25px;
  padding: 0 8px;
  display: flex;
  align-items: center;
}
.raw-input-group .raw-dropdown button {
  padding-right: 3rem;
}
