body {
  margin: 0;
  font-family: "Inter", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #f2f7fd 100%);

  overflow-x: hidden;

  width: 100vw;
  transition: background 0.2s ease-in-out;
}

body::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
  background: #f4f4f4;
}
body::-webkit-scrollbar-track {
  background: #262c34;
}

#root {
  width: 100vw;
  /* height: 100vh; */
  position: relative;
}

* {
  outline: none;
}

*:not([data-text="true"]) {
  font-family: "Inter", "Helvetica Neue", sans-serif;
}

.MuiTooltip-popperInteractive > div {
  padding: 0;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(152, 161, 170, 0.6);
}

#ruler {
  z-index: 0;
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
}

.MuiListItem-button.Mui-selected {
  color: #fff;
}

.MuiPaginationItem-page.Mui-selected {
  color: #fff;
}

b {
  font-family: "Inter", "Helvetica Neue", sans-serif !important;
}

a:hover {
  color: none;
}

button {
  appearance: none;
  -webkit-appearance: button-bevel;
}

input[type="text"] {
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
}

/* Data themes table */

.data-themes-table-header-cell {
  color: #262c34;
  font-weight: 400;
  border-width: 1px;
  background: #dfe3e6;
  border-color: #98a1aa;
  border-style: solid solid solid none;
}

.data-themes-table-header-cell:first-of-type {
  border-style: solid;
}

.data-themes-table-id-cell {
  color: #868e96;
  border-width: 1px;
  text-align: center;
  background: #dfe3e6;
  border-color: #98a1aa;
  border-style: none solid solid solid;
}

.data-themes-table-cell {
  color: #262c34;
  background: #f1f3f5;
}
