body {
  margin: 0;
  font-family: "Inter", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5f5f7;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  transition: background 0.2s ease-in-out;
}

body::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
  background: #f5f5f7;
}
body::-webkit-scrollbar-track {
  background: #495057;
}

#root {
  /* height: 100vh; */
  width: 100vw;
  position: relative;
}

* {
  outline: none;
  font-family: "Inter", "Helvetica Neue", sans-serif;
}

.MuiTooltip-popperInteractive > div {
  padding: 0;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(152, 161, 170, 0.6);
}

#ruler {
  z-index: 0;
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
}

.MuiListItem-button.Mui-selected {
  color: #fff;
}

.MuiPaginationItem-page.Mui-selected {
  color: #fff;
}

b {
  font-family: "Inter", "Helvetica Neue", sans-serif;
}

button {
  appearance: none;
  -webkit-appearance: button-bevel;
}

input[type="text"] {
  margin: 0;
  padding: 1px 2px;
  appearance: none;
  -webkit-appearance: none;
}
